.castoro-titling-regular {
    font-family: "Castoro Titling", serif;
    font-weight: 400;
    font-style: normal;
}

.madimi-one-regular {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.encode-sans semi expanded-light {
    font-family: "Encode Sans Semi Expanded", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
html{
    background-color: aliceblue;
}

h1, h2, h3, h4{
   font-family: "Castoro Titling", serif;
}

h1{
    font-size: 38px;
    text-align: center;
}

h2{
    font-size: 32px;
}

h3{
    font-size: 26px;
}
h4{
    font-size: 22px;
}

p, li, a, dl, dialog, pre, details{
    font-family: "Madimi One", sans-serif;
}

code{
    font-family: "Encode Sans Semi Expanded", sans-serif;
}

header menu ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 255, 255, 0.5);
    padding: 5px;
    border-radius: 10px;
}
header a{
    text-decoration: none;
    color: black;
}